section {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    
}
.task-wrapper {
    width: 600px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(35, 96, 35);
    border-radius: 10px;
    border: 2px solid rgb(5, 54, 5);
}
.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
li {
    list-style: none;
    width: 90%;
    height: 100%;
    background-color: rgb(121, 198, 121);
}
